version: "3.7"
services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    volumes:
      - ./server:/usr/src/app
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    restart: always
  landing:
    build:
      context: ./landing
      dockerfile: Dockerfile
    volumes:
      - ~/.composer-docker/cache:/root/.composer/cache:delegated
      - ./:/app:cached
    ports:
      - "80:8080"
  mongo:
    image: mongo  
